
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      table, tr, th, td {
        border: 1px solid black;
      }
      .done-button {
        background-color: #4CAF50;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .done {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <h2>List of Targeted Companies</h2>
    <div class="htb"></div>
    <table>
      <tr>
        <th>Company Name</th>
        <th>Expected Date to Apply</th>
        <th>Company URL</th>
        <th>Action</th>
      </tr>
      <% for(company of companies) { %>
      <tr>
        <td class="<%= company.isDone ? 'done' : '' %>" id="company_<%= company._id %>"><%= company.company_name %></td>
        <td><%= company.expected_date %></td>
        <td>
          <% if (company.company_url) { %>
            <a href="<%= company.company_url %>" target="_blank"><%= company.company_url %></a>
          <% } else { %>
            N/A
          <% } %>
        </td>
        <td>
          <button class="done-button" onclick="markDone('<%= company._id %>')">Done</button>
        </td>
      </tr>
      <% } %>
    </table>
    </div>
    <div class="fbtn">
      <form action="/company" method="GET">
        <button type="submit">Add New Company</button>
      </form>
      <form action="/user_table" method="GET">
        <button type="submit">Applied Vacancy</button>
      </form>
    </div>
    <script>
      function markDone(companyId) {
        const companyElement = document.getElementById(`company_${companyId}`);
        // Toggle the 'done' class on the company name
        companyElement.classList.toggle('done');
      }
    </script>
  </body>
</html>
